img {
    max-width: 150px;
    max-height: 150px;
}

body {
    background: url('../images/sky.jpg') center center fixed;
    background-size: cover;
}

hr {
    height: 2px;
    width: 96%;
    background-color:lightgrey;
}

.aboutme {
    background-color: white;
    border: solid;
    border: lightseagreen;
    margin-top: 34px;
}

.aboutmerows {
    margin-left: 15px;
}

h3 {
    color: #0275d8;
    margin-top: 15px;
}

.aboutmerows img {
    margin-top: 15px;
}

p {
    color: grey;
}