@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    background: url('../images/sky.jpg') center center fixed;
    background-size: cover;
}

hr {
    height: 2px;
    background-color:#0275d8;
}

.d-inline img {
    max-width: 150px;
}

.footer {
    font-size: 12px;
}

.footer-margin {
    height: 48px;
}

@media screen and (max-width: 576px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-brand {
        margin-right: 0px;
    }
    a.portfolionav {
        padding: 0px 8px;
    }
}