@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 150px;
    max-height: 150px;
}

body {
    background: url('../images/sky.jpg') center center fixed;
    background-size: cover;
}

hr {
    height: 2px;
    width: 96%;
    background-color:#0275d8;
}

.about {
    background-color: white;
    margin-top: 34px;
}

.aboutme,
.aboutmerows {
    margin-left: 15px;
}

.aboutmerows {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    color: #0275d8;
    margin-top: 15px;
}

.aboutmerows img {
    margin-top: 15px;
    float: left;
}

p {
    color: grey;
}